<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ShareMyDay.Tests" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="27" />
	<application android:label="ShareMyDay.Tests"></application>
</manifest>